{% extends 'AppBundle:Front:layout.html.twig' %}

{% form_theme form _self %}

{% block title %}Košík{% endblock %}

{% block headerImage %}
{% endblock %}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {% if attr.class is defined and attrname == 'class' %}
            {% set attrvalue = attrvalue %}
        {% endif %}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        <tr>
            <td colspan="6">
                {{- form_widget(child, {attr: {'data-id': child.parent.vars.choices[child.vars.name].data.id , 'data-order-recalculate' : child.vars.full_name }}) -}}
                <span class="form-radio" data-radio="#{{ child.vars.id }}"></span>
                {{- form_label(child) -}}&nbsp;({{ child.parent.vars.choices[child.vars.name].data.fee }} Kč)
                {% if child.parent.vars.choices[child.vars.name].data.format is defined %}
                    {% if child.parent.vars.choices[child.vars.name].data.format == 'ulozenka' %}
                        {{ form_widget(form.parent.children.deliveryDetail, {attr: {'data-save': true}}) }}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="basket-error">{{ error.message }}</div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{% block body %}
    <div class="container">
        <article class="category basket">
            {% if orderItemList | length > 0 %}
                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                <h1>Nákupní košík</h1>
                <div class="basket-scrollable">
                    <table class="basket-list basket-scrollable-content">
                        <thead>
                        <th>Produkt</th>
                        <th colspan="2">Množství</th>
                        <th>Cena za ks/balení</th>
                        <th>Cena celkem</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for orderItem in orderItemList %}
                            <tr>
                                <td><a href="{{ path('front_homepage_product', {product: orderItem.product.getAlias}) }}" target="_blank">{{orderItem.product.title }}</a></td>
                                <td><input type="number" data-product-id="{{ orderItem.product.id }}" data-product-available="{{ orderItem.product.quantity }}" data-order-recalculate="product" value="{{ orderItem.quantity }}"/></td>
                                <td>ks</td>
                                <td>{{ orderItem.product.getTotalPrice | number_format(2, ',', '') }} Kč</td>
                                <td><span data-product-total-price="{{ orderItem.product.id }}">{{ orderItem.product.getTotalPrice * orderItem.quantity }}</span> Kč</td>
                                <td>
                                    <a class="remove-shape" data-product-remove="{{ orderItem.product.id }}"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">Celková cena zboží</td>
                            <td><span id="products-total-price">{{ form.vars.data.getProductsTotalPrice | default(0) }}</span> Kč</td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <h2 class="heading-offset">Dodání a platba</h2>
                {{ form_errors(form.delivery) }}
                {{ form_errors(form.deliveryDetail) }}
                <div class="basket-scrollable">
                    <table class="basket-list basket-scrollable-content basket-list-collapsed">
                        <thead>
                        <tr>
                            <th colspan="6">Vyberte způsob dodání</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ form_widget(form.delivery) }}
                        </tbody>
                    </table>
                </div>
                <span class="heading-offset"></span>
                {{ form_errors(form.payment) }}
                <div class="basket-scrollable">
                    <table class="basket-list basket-scrollable-content">
                        <thead>
                        <tr>
                            <th colspan="6">Vyberte způsob platby</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ form_widget(form.payment) }}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2">Slevový / Dárkový poukaz <input type="text" id="{{ form.children.discount.vars.id }}" value="{{ form.vars.data.discount.code | default('') }}" name="{{ form.children.discount.vars.full_name }}" data-order-recalculate="{{ form.children.discount.vars.full_name }}" data-discount/></td>
                            <td colspan="2">Celková cena objednávky</td>
                            <td><span id="order-total-price">{{ form.vars.data.getTotalPrice | default(0) }}</span> Kč</td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="basket-form">
                    <h2 class="heading-offset">Dodací údaje</h2>
                    <div class="offset-bottom-large">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">{{ form_label(form.deliveryEmail) }}</div>
                                <div class="col-lg-3 col-md-3">{{ form_widget(form.deliveryEmail, {attr: {'data-save': true, 'data-order-filler': '#' ~ form.children.billingEmail.vars.id}}) }}</div>
                                <div class="col-lg-7 col-md-7">
                                    <div class="form-group">
                                        {{ form_widget(form.newsletter, {attr: {'data-save': true}}) }}
                                        <span class="form-checkbox" data-checkbox="#{{ form.children.newsletter.vars.id }}"></span>
                                        {{ form_label(form.newsletter) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                    {{ form_errors(form.deliveryEmail) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">{{ form_label(form.deliveryFirstname) }}</div>
                                <div class="col-lg-3 col-md-3">{{ form_widget(form.deliveryFirstname, {attr: {'data-save': true,'data-order-filler': '#' ~ form.children.billingFirstname.vars.id}}) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                    {{ form_errors(form.deliveryFirstname) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">{{ form_label(form.deliveryLastname) }}</div>
                                <div class="col-lg-3 col-md-3">{{ form_widget(form.deliveryLastname, {attr: {'data-save': true, 'data-order-filler': '#' ~ form.children.billingLastname.vars.id}}) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                    {{ form_errors(form.deliveryLastname) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">{{ form_label(form.deliveryPhone) }}</div>
                                <div class="col-lg-3 col-md-3">{{ form_widget(form.deliveryPhone, {attr: {'data-save': true, 'data-order-filler': '#' ~ form.children.billingPhone.vars.id}}) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                    {{ form_errors(form.deliveryPhone) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-bottom-large">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">{{ form_label(form.deliveryStreet) }}</div>
                                <div class="col-lg-3 col-md-3">{{ form_widget(form.deliveryStreet, {attr: {'data-save': true, 'data-order-filler': '#' ~ form.children.billingStreet.vars.id}}) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                    {{ form_errors(form.deliveryStreet) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">{{ form_label(form.deliveryCity) }}</div>
                                <div class="col-lg-3 col-md-3">{{ form_widget(form.deliveryCity, {attr: {'data-save': true, 'data-order-filler': '#' ~ form.children.billingCity.vars.id}}) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                    {{ form_errors(form.deliveryCity) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">{{ form_label(form.deliveryZipCode) }}</div>
                                <div class="col-lg-3 col-md-3">{{ form_widget(form.deliveryZipCode, {attr: {'data-save': true, 'data-order-filler': '#' ~ form.children.billingZipCode.vars.id}}) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                    {{ form_errors(form.deliveryZipCode) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-bottom-large">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">{{ form_label(form.remarks) }}</div>
                                <div class="col-lg-3 col-md-3">{{ form_widget(form.remarks, {attr: {'data-save': true}}) }}</div>
                                <div class="col-lg-7 col-md-7">
                                    {{ form_widget(form.billingDifferent, {attr: {'data-save': true,'data-hiding-element': form.children.billingDifferent.vars.id, 'data-order-filler-check': true }}) }}
                                    <span class="form-checkbox" data-checkbox="#{{ form.children.billingDifferent.vars.id }}"></span>
                                    {{ form_label(form.billingDifferent) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-hiding-false="{{ form.children.billingDifferent.vars.id }}">
                        <h2>Fakturační údaje</h2>
                        <div class="offset-bottom-large">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">{{ form_label(form.billingEmail) }}</div>
                                    <div class="col-lg-3 col-md-3">{{ form_widget(form.billingEmail, {attr: {'data-save': true}})}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                        {{ form_errors(form.billingEmail) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">{{ form_label(form.billingFirstname) }}</div>
                                    <div class="col-lg-3 col-md-3">{{ form_widget(form.billingFirstname, {attr: {'data-save': true}}) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                        {{ form_errors(form.billingFirstname) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">{{ form_label(form.billingLastname) }}</div>
                                    <div class="col-lg-3 col-md-3">{{ form_widget(form.billingLastname, {attr: {'data-save': true}}) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                        {{ form_errors(form.billingLastname) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">{{ form_label(form.billingPhone) }}</div>
                                    <div class="col-lg-3 col-md-3">{{ form_widget(form.billingPhone, {attr: {'data-save': true}}) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                        {{ form_errors(form.billingPhone) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-bottom-large">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">{{ form_label(form.billingStreet) }}</div>
                                    <div class="col-lg-3 col-md-3">{{ form_widget(form.billingStreet, {attr: {'data-save': true}}) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                        {{ form_errors(form.billingStreet) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">{{ form_label(form.billingCity) }}</div>
                                    <div class="col-lg-3 col-md-3">{{ form_widget(form.billingCity, {attr: {'data-save': true}}) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                        {{ form_errors(form.billingCity) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">{{ form_label(form.billingZipCode) }}</div>
                                    <div class="col-lg-3 col-md-3">{{ form_widget(form.billingZipCode, {attr: {'data-save': true}}) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                        {{ form_errors(form.billingZipCode) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-bottom-large">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
                                        {{ form_widget(form.termsAndConditions, {attr: {'data-save': true, 'data-disable' : '#' ~ form.children.add.vars.id }}) }}
                                    <span class="form-checkbox" data-checkbox="#{{ form.children.termsAndConditions.vars.id }}"></span>
                                    {{ form_label(form.termsAndConditions) }}
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 ">
                                        {{ form_errors(form.termsAndConditions) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-bottom-large">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-lg-offset-2 col-md-offset-2">{{ form_row(form.add) }}</div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <a type="submit" class="btn btn-default btn-block" id="appbundle_order_list_cancel">Zrušit objednávku</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <a class="btn btn-default btn-block" href="{{ path('front_homepage') }}">Vrátit se do obchodu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_row(form._token) }}
                {{ form_end(form, {render_rest: false}) }}
            {% else %}
                <h1>Nákupní košík</h1>
                <p>Nákupní košík je prázdný.</p>
            {% endif %}
        </article>
    </div>
{% endblock %}