{% extends 'AppBundle:Front:layout.html.twig' %}

{% block title %}Dokončení nákupu{% endblock %}

{% block headGA %}
{% endblock %}

{% block bodyGA %}
{% endblock %}

{% block headerImage %}
{% endblock %}

{% block body %}
    <div class="container">
        <article class="category basket">
            <h1>Děkujeme za vaši objednávku</h1>
            <p>Číslo objednávky {{ orderNumber }}.</p>
            <p>Potvrzení jsme Vám zaslali také na Váš email.</p>
        </article>
    </div>
{% endblock %}