{% extends 'AppBundle:Front:layout.html.twig' %}

{% block headerImage %}
{% endblock %}


{% block body %}
    <div class="container">
        <article class="category basket">
            <h1>Systémová chyba</h1>
            <p>Došlo k systémové chybě, kterou je třeba opravit. V případě komplikací kontaktujte správce stránek.</p>
        </article>
    </div>
{% endblock %}