{% extends 'AppBundle:Front:layout.html.twig' %}

{% block headerImage %}
{% endblock %}

{% block body %}
    <div class="container">
        <article class="category basket">
            <h1>Přístup odmítnut</h1>
            <p>Nemáte právo přístupu do požadované části webu.</p>
        </article>
    </div>
{% endblock %}