{% extends 'AppBundle:Front:layout.html.twig' %}

{% block headerImage %}
{% endblock %}


{% block body %}
    <div class="container">
        <article class="category basket">
            <h1>Stránka nebyla nalezena</h1>
            <p>Omlouváme se, ale zadaná stránka nebyla bohužel nalezena.</p>
        </article>
    </div>
{% endblock %}