{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Řazení
{% endblock %}

{% set narrowBody = true %}

{% block body %}
    <table class="table sorting-list">
        <thead>
        <tr>
            <th tabindex="1">Pořadí</th>
            <th tabindex="2">Název</th>
            <th tabindex="3">Typ</th>
        </tr>
        </thead>
        <tbody data-sortable="true" data-sortable-target="#{{ form.children.data.vars.id }}" data-sortable-column="0">
        {% for element in sorting %}
            <tr data-sortable-id="{{ element.id }}">
                <td></td>
                <td>
                    {% if element.productCategory != null %}
                        {{ element.productCategory.title }}
                    {% elseif element.text != null %}
                        {{ element.text.title }}
                    {% endif %}
                </td>
                <td>
                    {% if element.productCategory != null %}
                        Kategorie produktů
                    {% elseif element.text != null %}
                        Text
                    {% endif %}
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

    {{ form(form) }}
{% endblock %}