{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Slevové kódy
{% endblock %}

{% block headerAction %}
    <a href="{{ path('back_discount_add') }}" class="btn btn-primary cta">
        <span class="glyphicon glyphicon-pencil"></span>
        Přidat slevový kód
    </a>
{% endblock %}

{% block body %}
    <table class="table discount-list" data-pagination="25">
        <thead>
        <tr>
            <th class="table-cell-id sorting-asc" data-toggle="sort" tabindex="1">ID</th>
            <th data-toggle="sort" tabindex="2">Slevový kód</th>
            <th data-toggle="sort" tabindex="3">Sleva</th>
            <th data-toggle="sort" tabindex="5">Dočasné použití</th>
            <th data-toggle="sort" tabindex="5">Limit použití</th>
            <th data-toggle="sort" tabindex="6">Aktivní od</th>
            <th data-toggle="sort" tabindex="7">Aktivní do</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for discount in discounts %}
            <tr>
                <td class="table-cell-id">{{ discount.id }}</td>
                <td class="table-cell">{{ discount.code }}</td>
                <td class="table-cell">{{ discount.discount | default(0) }} %</td>
                <td class="table-cell" data-sort-value="{{ zerofill(discount.currentUse | default(0), 8, 0) }}">{{ discount.currentUse | default(0) }}</td>
                <td class="table-cell" data-sort-value="{{ zerofill(discount.maximumUse | default(0), 8, 0) }}">{{ discount.maximumUse | default(0) }}</td>
                {% if discount.activeFrom %}
                    <td class="table-cell">{{ discount.activeFrom | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                {% if discount.activeUntil %}
                    <td class="table-cell">{{ discount.activeUntil | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell-actions">
                    <a href="{{ path('back_discount_edit', {'id' : discount.id}) }}" class="item-action" title="Upravit slevový kód">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('back_discount_remove', {'id' : discount.id}) }}" data-toggle="confirm" data-confirm-message="Opravdu chcete odstranit slevový kód?" class="item-action item-action-danger" title="Odstranit slevový kód">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    <nav data-pagination-nav="true">
    </nav>
{% endblock %}