{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Články
{% endblock %}

{% block headerAction %}
    <a href="{{ path('back_article_add') }}" class="btn btn-primary cta">
        <span class="glyphicon glyphicon-pencil"></span>
        Přidat článek
    </a>
{% endblock %}

{% block body %}
    <table class="table article-list" data-pagination="25">
        <thead>
        <tr>
            <th class="table-cell-id sorting-asc" data-toggle="sort" tabindex="1">ID</th>
            <th data-toggle="sort" tabindex="2">Název</th>
            <th data-toggle="sort" tabindex="3">Napsáno dne</th>
            <th data-toggle="sort" tabindex="4">Napsal</th>
            <th data-toggle="sort" tabindex="5">Upraveno dne</th>
            <th data-toggle="sort" tabindex="6">Upravil</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="table-cell-id">{{ article.id }}</td>
                <td class="table-cell" >{{ article.title }}</td>
                {% if article.writtenOn %}
                    <td class="table-cell">{{ article.writtenOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ article.writtenBy.fullname | default('-') }}</td>
                {% if article.editedOn %}
                    <td class="table-cell">{{ article.editedOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ article.editedBy.fullname | default('-') }}</td>
                <td class="table-cell-actions">
                    {% if article.isDefault %}
                        <a href="{{ path('back_article_unmark_default', {'id' : article.id}) }}" class="item-action" title="Odznačit článek jako hlavní">
                            <span class="glyphicon glyphicon-star"></span>
                        </a>
                    {% else %}
                        <a href="{{ path('back_article_mark_default', {'id' : article.id}) }}" class="item-action" title="Označit článek jako hlavní">
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </a>
                    {% endif %}
                    <a href="{{ path('back_article_edit', {'id' : article.id}) }}" class="item-action" title="Upravit článek">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('back_article_remove', {'id' : article.id}) }}" data-toggle="confirm" data-confirm-message="Opravdu chcete odstranit článek?" class="item-action item-action-danger" title="Odstranit článek">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    <nav data-pagination-nav="true">
    </nav>
{% endblock %}