// Bootstrap
@import "../../../../../../bower_components/bootstrap/less/bootstrap";

// LESS modules
@import "../../../../../../bower_components/less-modules/less/less-modules";

// Synergic UI
// Use this file when implementing full Synergic UI via LESS.
// Remember to link all dependencies above as well.
@import "../../../../../../bower_components/synergic-ui/src/less/synergic-ui";


// Colors
// ======

@color-primary: #ff7f6e;

@color-text-primary: #939399;
@color-text-secondary: #e8e8f0;

@color-border: #373738;
@color-form: #5f5f5f;

@color-dark-background: #232324;

@color-success: #3C763D;
@color-error: #A94442;


// Sizes
// =====

@container-desktop: 900px;
@container-inner-desktop: @container-desktop - @grid-gutter-width;

@nav-item-in-line-desktop: 5;
@nav-item-width-desktop: (@container-inner-desktop - 2 * @grid-gutter-width) / @nav-item-in-line-desktop;


// Body
// ====

body {
  background-color: @color-dark-background;
}

body * {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: @color-text-primary;
}

@media (min-width: 0px) {
  .container {
    width: auto;
    max-width: @container-desktop;
  }
}


// Header
// ======

#header {
  margin-top: 35px;
  margin-bottom: 35px;
}

#logo {
  width: 230px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background: url('../images/logo.png');
}

@media all and (min-width: @screen-md) {
  #logo {
    margin-left: 0;
  }
}

#logo a {
  width: 229px;
  height: 58px;
  display: block;
  text-indent: -3333px;
  overflow: hidden;
}

#basket {
  line-height: 58px;
  float: right;
}

#basket a {
  text-decoration: none;
}

#basket a span {
  text-decoration: none;
}

#basket a:focus span, #basket a:hover span {
  color: #f5f5f5;
}

#basket #basket-products-count, #to-menu {
  margin-left: 5px;
}

#basket a:last-child {
  margin-left: 15px;
}

// Product categories navigation
// =============================

#category-nav {
  border-top: 1px solid @color-border;
  border-bottom: 1px solid @color-border;
}

#category-nav > ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#category-nav .category-nav-item {
  display: block;
}

.category-nav-item > a, .category-nav-item > a:link, .category-nav-item > a:visited {
  display: block;
  font-size: 12px;
  padding: 25px 25px;
  position: relative;
  letter-spacing: 0.1em;
  border-bottom: 1px solid @color-border;
  text-transform: uppercase;
}

.category-nav-item:last-child > a {
  border-bottom: none;
}

.category-nav-item > a:focus, .category-nav-item > a:hover {
  text-decoration: none;
  color: #f5f5f5;
}


@media all and (min-width: @screen-md) {
  #category-nav > ul{
    display: block;
  }

  #category-nav .category-nav-item {
    display: inline-block;
  }

  #category-nav .category-nav-item a {
    border-bottom: none;
  }

  #category-nav .category-nav-item > a::before
  {
    content: '';
    position: absolute;
    top: 16px;
    bottom: 16px;
    right: 0;
    width: 1px;
    background-color: @color-border;
  }
  #category-nav .category-nav-item:nth-last-child(3) > a::before
  {
    display: none;
  }
}

// Footer
// ======

.footer-line {
  margin: 0 auto;
  padding: 0;
  max-width: 930px;
  width: 100%;
  margin-top: 35px;
  border-top: 1px solid @color-border;
}

#footer {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 70px;
}

#page-nav {
  padding-bottom: 10px;
}

#page-nav ul  {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 15px 5px;
}

#page-nav  li {
  margin-top: 10px;
  margin-right: 0;
  display: block;
}

#page-nav a {
  text-transform: lowercase;
  color: @color-primary;
}

@media all and (min-width: @screen-md) {
  #page-nav ul  {
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 15px 5px;

  }

  #page-nav  li {
    margin-right: 30px;
    display: inline;
  }

  #page-nav a {
    text-transform: lowercase;
  }
}

#panel {
  padding: 35px;
}

#social-nav ul  {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 5px;

}

#social-nav ul li {
  display: inline;
  padding-right: 3px;
}

#social-nav ul li:last-child {
  padding-right: 0;
}

#social-nav a {
  text-decoration: none;
}

#social-nav-header
{
  float: left;
  margin-top: 10px;
}

#social-nav-header ul  {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 5px;

}

#social-nav-header ul li {
  display: inline;
  padding-right: 3px;
}

#social-nav-header ul li:last-child {
  padding-right: 0;
}

#copyright-footer {
  padding: 35px;
  text-indent: 0.1em;
  text-align: center;
}


// Cookie bar
// ==========

.cookies-bar {
  display: none;
  background-color: @color-primary;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.cookies-bar > p {
  margin: 0;
  color: white;
  text-align: center;
}

.cookies-btn {
  display: inline-block;
  background-color: white;
  padding: 2.5px 30px 2.5px 30px;
  color: @color-primary;
  margin-left: 15px;
}

.cookies-btn:hover, .cookies-btn:focus {
  cursor: pointer;
}

.cookies-info {
  color: white;
  text-decoration: underline;
  margin-left: 15px;
}

.cookies-info:hover, .cookies-info:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


// Buttons
// =======

.btn {
  border-radius: 0;
  padding: 3.5px 16px;
  min-width: 155px;
}

.btn-primary {
  background-color: @color-primary !important;
  color: @color-text-secondary !important;
  border-color: @color-primary !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active
{
  background-color: transparent !important;
  color: @color-primary !important;
  border-color: @color-primary !important;
}
.btn-default {
  background-color: transparent !important;
  color: @color-text-primary !important;
  border-color: @color-form !important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active
{
  background-color: @color-form !important;
  color: @color-text-secondary !important;
  border-color: @color-form !important;
}


// Default global styles
// =====================

.heading-offset {
  display: block;
  margin-top: 35px !important;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 35px;
  color: @color-primary !important;
}

.basket h2 {
  &:extend(h1);
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 25px;
  color: @color-primary !important;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 25px;
  color: @color-primary !important;
}

h4 {
  color: @color-primary;
  font-weight: 400;
}

.text-primary {
  color: @color-primary;
}

a:hover, a:focus, a:active {
  color:  @color-primary;
}

.page-separator {
  border-top: 1px solid @color-primary;
  margin: 30px 0 0 0;
}

#header-image > img {
  width: 100%;
}

.header-image-separator {
  margin-top: 15px;
}

.header-separator {
  margin-top: 15px;
  margin-bottom: 0;
  border-top: 1px solid #3da0ad;
}

.desktop-hide {
  display: block !important;
}

.mobile-hide {
  display: none !important;
}


hr {
  border-top: 1px solid @color-border;
}

.article  {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  clear: both;
}

.article p {
  text-align: justify;
}

.page-article {
  margin-top: 40px;
}

.page-article p {
  text-align: justify;
}

.page-article a {
  color: @color-primary;
}

.page-article table {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.page-article th, .page-article td {
  padding: 5px 0 5px 0;
}

.category {
  text-align: center;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  clear: both;
}

.category + .category {
  margin-top: 0;
}

.mobile-hide + .category {
  margin-top: 0;
}


// Product category
// ================

.category-description {
  padding: 0 20px 0 20px;
}

.category-description * {
  text-align: justify;
  margin-bottom: 25px;
}


// Product
// =======

.product {
  display: inline-block;
  width: 180px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  margin-bottom: 25px;

}

.product * {
  color: @color-text-secondary;
}

.product-discount-image {
  position: relative;
  float: right;
  margin-bottom: -69px;
  z-index: 10;
}

.product-discount-title {
  position: relative;
  float: right;
  width: 69px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  writing-mode: horizontal-tb;
  left: 10px;
  top: 16px;
  margin-bottom: -20px;
  text-align: center;
  color: white;
  z-index: 20;
}

.product-discount-title > span {
  color: white;
}

.offset-bottom-large {
  margin-bottom: 37px;
}

.product-image {
  width: 100%;
  height: 155px;
  border: 1px solid @color-form;
}

.product-image img {
  width: 100%;
}

.product-title-box {
  height: 50px;
  line-height: 50px;
}

.product-title {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  text-align: center;
  padding: 2.5px;
  margin: 0;
}

.product-link, .product-link:visited {
  text-align: center;
  display: block;
  width: 100%;
  color: @color-text-secondary;
  background: @color-border;
  padding: 1.5px;
  border: 1px solid @color-border;
}

.product-link:hover, .product-link:focus, .product-link:active {
  cursor: pointer;
  background: white;
  color: @color-form;
  text-decoration: none;
}

.product-price {
  cursor: pointer;
  font-weight: 700;
  color: inherit;
  background: transparent;
}


// Modal - Product detail
// ======================

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-content {
  background: @color-dark-background;
  border-radius: 0;
}

.modal-header {
  border-bottom: 1px solid @color-border;
}

.modal-body {
  color: @color-text-primary;
}

.modal-footer {
  border-top: 1px solid @color-border;
}

.modal-dialog {
  width: 100%;
  margin: 30px auto;
}

@media (min-width: 495px)  {
  .modal-dialog {
    width: @screen-xs - 15 !important;
  }
}

@media (min-width: @screen-sm) {
  .modal-dialog {
    width: @screen-xs - 15 !important;
  }
}

@media (min-width: @screen-md) {
  .modal-dialog {
    width: @screen-md - 100 !important;
  }
}

.modal-goods-title {
  padding-left: 0;
  line-height: 25px;
  font-weight: bold;
}

.modal-goods-image {
  width: 100%;
}

.modal-goods-quantity {
  text-align: center;
}
.modal-goods-quantity-input {
  border: 1px solid @color-form;
  text-align: center;
  height: 25px;
  width: 35px;
  margin-right: 5px;
  margin-bottom: 2px;
}
.modal-goods-price {
  text-align: right;
  line-height: 25px;
}

.modal-footer .btn-primary {
  width: 100%;
  float: left;
}

.modal-footer .btn-default {
  width: 100%;
  margin-left: 0 !important;
  margin-top: 5px;
}


// Promo
// ======

#input-text {
  width: 205px;
  height: 25px;
  padding: 0 5px 0 5px;
  margin: 0;
  background: @color-form;
  color: @color-text-secondary;
}

#inline-form {
  margin-top: 10px;
  margin-left: 0;
  display: inline-block;
}

#inline-text {
  display: inline-block;
  text-align: center;
}

#input-button {
  width: 120px;
  height: 25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: white;
  font-size: 14px;
  background: @color-primary;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
}

#input-button:hover {
  background: white;
  text-decoration: none;
  border: 1px solid @color-primary;
  color: @color-primary;
}

.promo {
  padding: 35px 20px;
  text-align: justify;
  clear: both;
  border-top: 1px solid @color-border;
  border-bottom: 1px solid @color-border;
  max-width: 930px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.promo + .promo {
  border-top: none;
  margin-top: 0;
}

.promo * {
  color: @color-primary;
}

.promo p {
  line-height: 25px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.promo-newsletter {
  text-align: center;
}

.promo-picture {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  text-align: center;
}

.promo-picture img {
  width: 100%;
}

#login-form {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  background: rgba(32, 160, 173, 0.15);
  padding: 30px;
  clear: both;
}

#login-form label
{
  float: left;
}

#login-form input, #login-form button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;

  width: 100%;
  height: 25px;
  padding: 0 5px 0 5px;
  margin: 0;
  color: @color-form;
}

@media all and (min-width: @screen-xs) {
  .modal-footer .btn-primary {
    width: auto;
  }

  .modal-footer .btn-default {
    width: auto;
    margin-top: 0;
  }
}

@media all and (min-width: @screen-md) {

  .desktop-hide {
    display: none !important;
  }

  .mobile-hide {
    display: block !important;
  }

  .mobile-hide + .category {
    margin-top:  30px !important;
  }

  #inline-form {
    margin-top: 0 !important;
    margin-left: 15px !important;
  }
}


// Basket
// ======

.basket-scrollable {
  overflow-x: auto;
}

.basket-scrollable-content {
  min-width: 635px;
}

.basket-list {
  width: 100%;
  max-width: 100%;
}

.basket-list select {
  max-width: 425px;
  margin-left: 50px;
}

@-moz-document url-prefix() {
  .basket-list select {
    max-width: 400px;
  }
}

.basket-error {
  margin-top: 5px;
  color: @color-primary !important;
}


.basket-list thead tr{
  background-color: @color-primary;
}
.basket-list thead th {
  font-weight: 400;
  height: 35px;
  padding: 5px 10px;
  color: white;
  text-align: left;
}

.basket-list tbody tr {
  border-top: 1px solid @color-border;
}

.basket-list tbody tr:first-child
{
  border-top: none;
}

.basket-list tbody td {
  height: 35px;
  padding: 4px 10px;
  text-align: left;
  line-height: 25px;
}
.basket-list tbody input {
  height: 25px;
  line-height: 0;
  padding: 0;
  vertical-align: middle;
}
.basket-list tbody label {
  margin-bottom: 0;
  font-weight: 400;
}
.basket-list tbody label::after {
  content: ' ';
}


.basket-list tbody:after {
  height: 35px;
  display: block;
  content: '';
}

.basket-list tfoot tr {
  border-top: 1px solid @color-primary;
  border-bottom: 1px solid @color-primary;
}

.basket-list tfoot td {
  height: 35px;
  padding: 4px 10px;
  text-align: left;
  line-height: 25px;
}
.basket-list tfoot input {
  height: 25px;
  line-height: 0;
  padding: 0;
  vertical-align: middle;
}

.basket-list-collapsed tbody:after {
  height: 0;
}

.basket-list thead th:nth-child(2) {
  width: 15%;
  min-width: 105px;
  text-align: center;
}
.basket-list thead th:nth-child(3) {
  width: 20%;
  min-width: 145px;
  text-align: right;
}
.basket-list thead th:nth-child(4) {
  width: 20%;
  min-width: 145px;
  text-align: right;
}
.basket-list thead th:nth-child(5) {
  width: 60px;
}


.basket-list tbody td:nth-child(1) [data-radio] {
  margin-right: 30px;
}

.basket-list tbody td:nth-child(2) {
  width: 9.25%;
  text-align: right;
}
.basket-list tbody td:nth-child(2) input {
  width: 35px;
  text-align: center;
}
.basket-list tbody td:nth-child(3) {
  width: 5.75%;
  padding-left: 0;
  text-align: left;
}
.basket-list tbody td:nth-child(4) {
  width: 20%;
  min-width: 145px;
  text-align: right;
}
.basket-list tbody td:nth-child(5) {
  width: 20%;
  min-width: 145px;
  text-align: right;
}
.basket-list tbody td:nth-child(6) {
  width: 60px;
  text-align: center;
  padding-right: 20px;
}

.basket-list tfoot td:nth-child(1) input {
  float: left;
  width: 165px;
  text-indent: 5px;
}

@media all and (min-width: 800px) {
  .basket-list tfoot td:nth-child(1) input {
    float: right;
  }
}

.basket-list tfoot td:nth-child(2) {
  text-align: right;
}

.basket-list tfoot td:nth-child(3) {
  width: 20%;
  min-width: 145px;
  text-align: right;
  font-weight: bold;
}
.basket-list tfoot td:nth-child(3) span {
  font-weight: inherit;
}
.basket-list tfoot td:nth-child(4) {
  width: 60px;
  padding-right: 20px;
}

.remove-shape {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url('../images/remove.png') bottom no-repeat;
  top: 1px;
  position: relative;
  cursor: pointer;
}

.form-checkbox {
  float: left;
  display: none;
  width: 25px;
  height: 25px;
  padding-top: 2px;
  border: 1px solid @color-form !important;;
  color: @color-form  !important;
  text-align: center;
  margin-right: 10px;
}
.form-checkbox::after {
  content: 'X';
  visibility: hidden;
}
.form-checkbox.checked::after {
  visibility: visible;
}

.basket-form .row > div {
  text-align: left;
}

.form-radio {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
  margin-top: 2px;
  background: url('../images/radio.png') no-repeat;
}
.form-radio.checked{
  background-image: url('../images/radio-checked.png') !important;
}

input, textarea, select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid @color-form;
  background-color: @color-form;
  color: @color-text-secondary;
}

.basket-form .form-group {
  margin-bottom: 6px;
}
.basket-form label {
  float: left;
  line-height: 25px;
  margin-bottom: 0;
  font-weight: 400 !important;
}

.basket-form label.required:after {
  content: '';
}
.basket-form input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 25px;
  width: 100%;
  margin-right: 5px;
  text-indent: 2px;
}
.basket-form textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 75px;
  width: 100%;
  max-width: 100%;
  margin-right: 5px;
  overflow: hidden;
}

.fill-success {
  background-color: @color-success;
}

.fill-error {
  background-color: @color-error;
}

.right {
  float: right;
}