{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Přehled
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-stats icon-offset icon-vertically-aligned"
                              aria-hidden="true"></span>
                        Statistiky obchodu
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-6">Poslední měsíc</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Počet objednávek</td>
                                        <td class="text-right">{{ ordersCountThisMonth }}</td>
                                    </tr>
                                    <tr>
                                        <td>Průměrná výše objednávky</td>
                                        <td class="text-right">{{ ordersAverageTurnoverThisMonth | number_format(2, ',', '') }} Kč</td>
                                    </tr>
                                    <tr>
                                        <td>Obrat</td>
                                        <td class="text-right">{{ ordersTotalTurnoverThisMonth | number_format(2, ',', '') }} Kč</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-6">Celkem</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Počet objednávek</td>
                                        <td class="text-right">{{ ordersCount }}</td>
                                    </tr>
                                    <tr>
                                        <td>Průměrná výše objednávky</td>
                                        <td class="text-right">{{ ordersAverageTurnover | number_format(2, ',', '') }} Kč</td>
                                    </tr>
                                    <tr>
                                        <td>Obrat</td>
                                        <td class="text-right">{{ ordersTotalTurnover | number_format(2, ',', '') }} Kč</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-list icon-offset icon-vertically-aligned"
                              aria-hidden="true"></span>
                        Vytvořené objednávky
                        <span class="badge pull-right">{{ createdOrders | length }}</span>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-xs-2">Číslo</th>
                                <th class="col-xs-8">Zákazník</th>
                                <th class="text-nowrap text-right">Vytvořeno</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for createdOrder in createdOrders %}
                                <tr>
                                    <td>
                                        <a href="{{ path('back_order_show', {'id' : createdOrder.id}) }}" title="Zobrazit objednávku">
                                            {{ createdOrder.orderNumber  }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ createdOrder.deliveryFirstname }} {{ createdOrder.deliveryLastname }}
                                    </td>
                                    <td class="text-nowrap text-right">
                                        {{ createdOrder.orderCreatedOn | date("Y-m-d H:i") }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-list icon-offset icon-vertically-aligned"
                              aria-hidden="true"></span>
                        Přijaté objednávky
                        <span class="badge pull-right">{{ receivedOrders | length }}</span>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-xs-2">Číslo</th>
                                <th class="col-xs-8">Zákazník</th>
                                <th class="text-nowrap text-right">Přijato</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for receivedOrder in receivedOrders %}
                                <tr>
                                    <td>
                                        <a href="{{ path('back_order_show', {'id' : receivedOrder.id}) }}" title="Zobrazit objednávku">
                                            {{ receivedOrder.orderNumber  }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ receivedOrder.deliveryFirstname }} {{ receivedOrder.deliveryLastname }}
                                    </td>
                                    <td class="text-nowrap text-right">
                                        {{ receivedOrder.orderReceivedOn | date("Y-m-d H:i") }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-list icon-offset icon-vertically-aligned"
                              aria-hidden="true"></span>
                        Odeslané objednávky
                        <span class="badge pull-right">{{ sentOrders | length }}</span>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-xs-2">Číslo</th>
                                <th class="col-xs-8">Zákazník</th>
                                <th class="text-nowrap text-right">Odesláno</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sentOrder in sentOrders %}
                                <tr>
                                    <td>
                                        <a href="{{ path('back_order_show', {'id' : sentOrder.id}) }}" title="Zobrazit objednávku">
                                            {{ sentOrder.orderNumber  }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ sentOrder.deliveryFirstname }} {{ sentOrder.deliveryLastname }}
                                    </td>
                                    <td class="text-nowrap text-right">
                                        {{ sentOrder.orderReceivedOn | date("Y-m-d H:i") }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-list icon-offset icon-vertically-aligned"
                              aria-hidden="true"></span>
                        Dokončené objednávky
                        <span class="badge pull-right">{{ finishedOrders | length }}</span>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-xs-2">Číslo</th>
                                <th class="col-xs-8">Zákazník</th>
                                <th class="text-nowrap text-right">Dokončeno</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for finishedOrder in finishedOrders %}
                                <tr>
                                    <td>
                                        <a href="{{ path('back_order_show', {'id' : finishedOrder.id}) }}" title="Zobrazit objednávku">
                                            {{ finishedOrder.orderNumber  }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ finishedOrder.deliveryFirstname }} {{ finishedOrder.deliveryLastname }}
                                    </td>
                                    <td class="text-nowrap text-right">
                                        {{ finishedOrder.orderCreatedOn | date("Y-m-d H:i") }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}