{% extends 'AppBundle:Front:layout.html.twig' %}

{% block body %}
    {% if favouriteProducts | length > 0 %}
        <article class="category">
            <h1>Nejoblíbenější produkty</h1>
            {% for product in favouriteProducts %}
                <div class="product">
                    {% if product.discount != null%}
                        <img class="product-discount-image" src="{{ asset('images/discount.png') }}" alt="Sleva {{ product.discount }} %"/>
                        <p class="product-discount-title">-{{ product.discount }} %</p>
                    {% endif %}
                    <div class="product-image">
                        {% if product.extension != null %}
                            <a href="#" title="{{ product.title }}" data-show-product="{{ product.id }}" data-target="#product" data-toggle="modal">
                                <img src="{{ asset('upload/images/products/' ~ product.id ~ '.' ~ product.extension) }}" alt="{{ product.title }}"/>
                            </a>
                        {% endif %}
                    </div>
                    <div class="product-title-box">
                        <p class="product-title">{{ product.title }}</p>
                    </div>
                    <a class="product-link" href="#" title="{{ product.title }}" data-show-product="{{ product.id }}" data-target="#product" data-toggle="modal">
                        {% if product.quantity > 0 %}
                            <span class="product-price">{{ product.getTotalPrice | round(0, 'floor') }} Kč</span>
                            {% if product.countText.title == '' %}
                            {% elseif product.countText.title == 'pár' %}
                                (za {{ product.countText.title }})
                            {% else %}
                                (za {{ product.count }} {{ product.countText.title }})
                            {% endif %}
                        {% else %}
                            <span class="product-price">Vyprodáno</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </article>
    {% endif %}
    {{ render(controller('AppBundle:Front\\Newsletter:add', {request: app.request})) }}
    {% for sorting in sortings %}
        {% if sorting.productCategory != null and sorting.productCategory.products | length > 0 %}
            <article class="category" id="{{ sorting.productCategory.alias }}">
                <h1>{{ sorting.productCategory.title }}</h1>
                <div class="category-description">{{ sorting.productCategory.description | raw  }}</div>
                {% for product in sorting.productCategory.products %}
                    <div class="product" id="{{ product.getAlias }}">
                        {% if product.discount != null%}
                            <img class="product-discount-image" src="{{ asset('images/discount.png') }}" alt="Sleva {{ product.discount }} %"/>
                            <p class="product-discount-title">-{{ product.discount }} %</p>
                        {% endif %}
                        <div class="product-image">
                        {% if product.extension != null %}
                            <a href="#" title="{{ product.title }}" data-show-product="{{ product.id }}" data-target="#product" data-toggle="modal">
                                <img src="{{ asset('upload/images/products/' ~ product.id ~ '.' ~ product.extension) }}" alt="{{ product.title }}"/>
                            </a>
                        {% endif %}
                        </div>
                        <div class="product-title-box">
                            <p class="product-title">{{ product.title }}</p>
                        </div>
                        <a class="product-link" href="#" title="{{ product.title }}" data-show-product="{{ product.id }}" data-target="#product" data-toggle="modal">
                            {% if product.quantity > 0 %}
                                <span class="product-price">{{ product.getTotalPrice | round(0, 'floor') }} Kč</span>
                                {% if product.countText.title == '' %}
                                {% elseif product.countText.title == 'pár' %}
                                    (za {{ product.countText.title }})
                                {% else %}
                                    (za {{ product.count }} {{ product.countText.title }})
                                {% endif %}
                            {% else %}
                                <span class="product-price">Vyprodáno</span>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </article>
        {% elseif sorting.text != null %}
            {% if sorting.text.isText %}
                <div class="promo">
                    <p>
                        {{ sorting.text.content }}
                    </p>
                </div>
            {% else %}
                {% if sorting.text.link != null %}
                    <div class="promo-picture">
                        <a href="{{ sorting.text.link }}" target="_blank">
                            <img src="{{ asset('upload/images/texts/' ~ sorting.text.id ~ '.' ~ sorting.text.extension) }}" alt="{{ sorting.text.title }}"/>
                        </a>
                    </div>
                {% else %}
                    <div class="promo-picture">
                        <img src="{{ asset('upload/images/texts/' ~ sorting.text.id ~ '.' ~ sorting.text.extension) }}" alt="{{ sorting.text.title }}"/>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if article != null %}
        <hr class="footer-line"/>
        <article class="article">
            <h1>{{ article.title }}</h1>
            <div class="container">
                {{ article.content | raw }}
            </div>
        </article>
    {% endif %}
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="product">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Detail produktu</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class=" col-md-6 col-sm-12">
                                <div data-show-product-attr="discount-block">
                                    <img class="product-discount-image" src="{{ asset('images/discount.png') }}" alt="Sleva"/>
                                    <p class="product-discount-title">-<span data-show-product-attr="discount">0</span> %</p>
                                </div>
                                <img data-show-product-attr="image" class="modal-goods-image" data-default-image-src="{{ asset('upload/images/products/') }}"/>
                            </div>
                            <div class=" col-md-6 col-sm-12">
                                <h3 data-show-product-attr="title"></h3>
                                <div data-show-product-attr="description">
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-xs-6">Cena za kus:</div>
                                    <div class="col-xs-6"><span data-show-product-attr="price"></span> Kč</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">Kusů na skladě:</div>
                                    <div class="col-xs-6" ><span data-show-product-attr="quantity"></span> ks</div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-xs-6">Kusů v košíku:</div>
                                    <div class="col-xs-6"><input type="number" data-show-product-attr="total-quantity" class="modal-goods-quantity-input"/> ks</div>
                                </div>
                                <div class="row offset-bottom">
                                    <div class="col-xs-6">Celková cena:</div>
                                    <div class="col-xs-6"><span data-show-product-attr="total-price"></span> Kč</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Pokračovat v nákupu</button>
                    <a class="btn btn-default" href="{{ path('front_basket_show') }}">Přejít do košíku</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}