{% extends 'AppBundle:Front:layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block headerImage %}
{% endblock %}

{% block body %}
    <div class="container">
        <article class="page-article">
            {{ page.content | raw }}
        </article>
    </div>
{% endblock %}