{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Upravit odkaz
{% endblock %}

{% set narrowBody = true %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.link) }}
    {{ form_row(form.file) }}
    <div class="form-group">
        <div class="form-control form-control-preview">
            <img src="{{ form.vars.data.getWebPath }}" class="center-block"/>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}