{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Odkazy
{% endblock %}

{% block headerAction %}
    <a href="{{ path('back_link_add') }}" class="btn btn-primary cta">
        <span class="glyphicon glyphicon-pencil"></span>
        Přidat odkaz
    </a>
{% endblock %}

{% block body %}
    <table class="table link-list" data-pagination="25">
        <thead>
        <tr>
            <th class="table-cell-id sorting-asc" data-toggle="sort" tabindex="1">ID</th>
            <th data-toggle="sort" tabindex="2">Název</th>
            <th data-toggle="sort" tabindex="3">Napsáno dne</th>
            <th data-toggle="sort" tabindex="4">Napsal</th>
            <th data-toggle="sort" tabindex="5">Upraveno dne</th>
            <th data-toggle="sort" tabindex="6">Upravil</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td class="table-cell-id">{{ link.id }}</td>
                <td class="table-cell" >{{ link.title }}</td>
                {% if link.writtenOn %}
                    <td class="table-cell">{{ link.writtenOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ link.writtenBy.fullname | default('-') }}</td>
                {% if link.editedOn %}
                    <td class="table-cell">{{ link.editedOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ link.editedBy.fullname | default('-') }}</td>
                <td class="table-cell-actions">
                    <a href="{{ path('back_link_edit', {'id' : link.id}) }}" class="item-action" title="Upravit odkaz">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('back_link_remove', {'id' : link.id}) }}" data-toggle="confirm" data-confirm-message="Opravdu chcete odstranit odkaz?" class="item-action item-action-danger" title="Odstranit odkaz">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    <nav data-pagination-nav="true">
    </nav>
{% endblock %}