// Synergic UI
// ===========

// Bootstrap
@import "../../../../../../bower_components/bootstrap/less/bootstrap";

// LESS modules
@import "../../../../../../bower_components/less-modules/less/less-modules";

// Select2
@import (inline) "../../../../../../bower_components/select2/select2.css";
@import "../../../../../../bower_components/select2-bootstrap-css/lib/select2-bootstrap";

// Datetimepicker
@import "../../../../../../bower_components/eonasdan-bootstrap-datetimepicker/src/less/bootstrap-datetimepicker";

// Synergic UI
// Use this file when implementing full Synergic UI via LESS.
// Remember to link all dependencies above as well.
@import "../../../../../../bower_components/synergic-ui/src/less/synergic-ui";


// Configuration
// =============

@brand-primary: #363F46;


// Layout
// ======

.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// Forms
// ======

.form-control-preview {
  height: auto !important;
  min-height: @input-height-base;
}

.form-control-preview img {
  max-width: 100%;
}


// Tables
// ======

.tfoot-separated {
  border-top: 2px solid @table-border-color;
}

@media (max-width: @screen-lg) {
  .product-list {
    td:nth-child(6), th:nth-child(6) {
      display: none;
    }
  }

  .user-list {
    td:nth-child(7), th:nth-child(7) {
      display: none;
    }
  }
}

@media (max-width: @screen-md) {
  .article-list {
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
    td:nth-child(6), th:nth-child(6) {
      display: none;
    }
  }

  .discount-list {
    td:nth-child(6), th:nth-child(6) {
      display: none;
    }
    td:nth-child(7), th:nth-child(7) {
      display: none;
    }
  }

  .link-list {
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
    td:nth-child(6), th:nth-child(6) {
      display: none;
    }
  }

  .page-list {
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
    td:nth-child(6), th:nth-child(6) {
      display: none;
    }
  }

  .product-category-list {
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
    td:nth-child(6), th:nth-child(6) {
      display: none;
    }
  }

  .product-list {
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
  }

  .text-list {
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
    td:nth-child(6), th:nth-child(6) {
      display: none;
    }
  }

  .user-list {
    td:nth-child(6), th:nth-child(6) {
      display: none;
    }
  }
}

@media (max-width: @screen-sm) {
  .article-list {
    td:nth-child(3), th:nth-child(3) {
      display: none;
    }
    td:nth-child(4), th:nth-child(4) {
      display: none;
    }
  }

  .discount-list {
    td:nth-child(4), th:nth-child(4) {
      display: none;
    }
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
  }

  .link-list {
    td:nth-child(3), th:nth-child(3) {
      display: none;
    }
    td:nth-child(4), th:nth-child(4) {
      display: none;
    }
  }

  .page-list {
    td:nth-child(3), th:nth-child(3) {
      display: none;
    }
    td:nth-child(4), th:nth-child(4) {
      display: none;
    }
  }

  .product-category-list {
    td:nth-child(3), th:nth-child(3) {
      display: none;
    }
    td:nth-child(4), th:nth-child(4) {
      display: none;
    }
  }

  .product-list {
    td:nth-child(4), th:nth-child(4) {
      display: none;
    }
  }

  .text-list {
    td:nth-child(3), th:nth-child(3) {
      display: none;
    }
    td:nth-child(4), th:nth-child(4) {
      display: none;
    }
  }

  .user-list {
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .discount-list {
    td:nth-child(3), th:nth-child(3) {
      display: none;
    }
  }

  .product-list {
    td:nth-child(3), th:nth-child(3) {
      display: none;
    }
  }

  .sorting-list {
    td:nth-child(3), th:nth-child(3) {
      display: none;
    }
  }

  .user-list {
    td:nth-child(2), th:nth-child(2), td:nth-child(3), th:nth-child(3) {
      display: none;
    }
  }
}

// Pagination
// ==========
.pagination {
  float: right;
}