Dobrý den,

potvrzujeme přihlášení Vašeho emailu k odběru newsletteru.

Odhlášení odběru newsletteru: {{ url('front_newsletter_remove', {emailEncoded: emailEnc}) }}

Děkujeme za odběr newsletteru a přejeme krásný den.

Online shop
{{ base_url }}

