Dobrý den,

potvrzujeme přijetí objednávky {{ order.getOrderNumber }}. Pokud jste zvolili platbu převodem, zašlete prosím platbu na číslo účtu {{ invoiceBank }}.

Variabilní symbol: {{ order.orderNumber }}
Částka: {{ order.getTotalPrice }} Kč

Zboží odesíláme do 3 pracovních dní od přijetí platby. U objednávek na dobírku do 3 pracovních dní od objednání.

Shrnutí objednávky:
{% for orderItem in order.getOrderItem %}
    {{ orderItem.product.title }} ({{ orderItem.getTotalPrice }} Kč)
{% endfor %}

Dodací adresa: {{ order.deliveryFirstname }} {{ order.deliveryLastname }}, {{ order.deliveryStreet }}, {{ order.deliveryCity }}, {{ order.deliveryZipCode }}
Způsob dopravy: {{ order.orderDeliveryItem.method }} {% if order.orderDeliveryItem.format == 'ulozenka' %} - {{ order.deliveryDetail }}{% endif %}({{ order.orderDeliveryItem.fee }} Kč)
Způsob platby: {{ order.orderPaymentItem.method }} ({{ order.orderPaymentItem.fee }} Kč)

Stav objednávky: {{ url('front_order_status', {orderNumberEncoded: orderNumberEnc}) }}

Stornování objednávky: {{ url('front_order_cancel', {orderNumberEncoded: orderNumberEnc}) }}

Děkujeme za Váš nákup a přejeme krásný den.

Online shop
{{ base_url }}

