{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Nahrávání souborů
{% endblock %}

{% set narrowBody = true %}

{% block body %}
    <p>Všechny soubory naleznete ve složce <code>/upload/files/share/</code></p>
            {{ form_start(uploadFileForm) }}
            <div class="form-group">
                {{ form_widget(uploadFileForm.file) }}
                {{ form_errors(uploadFileForm.file) }}
            </div>
            <div class="form-group">
                {{ form_widget(uploadFileForm.add) }}
            </div>
            {{ form_end(uploadFileForm) }}
{% endblock %}