{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Globální nastavení
{% endblock %}

{% set narrowBody = true %}

{% block body %}
    {{ form_start(form) }}
    <h2>Údaje na faktuře</h2>
    <hr>
    {{ form_row(form.invoiceName) }}
    {{ form_row(form.invoiceStreet) }}
    {{ form_row(form.invoiceCity) }}
    {{ form_row(form.invoiceZipCode) }}
    {{ form_row(form.invoiceIc) }}
    {{ form_row(form.invoicePhone) }}
    {{ form_row(form.invoiceEmail) }}
    {{ form_row(form.invoiceBank) }}
    {{ form_row(form.invoiceText) }}
    <h2>Cena platby</h2>
    <hr>
    {{ form_row(form.paymentCollection) }}
    <h2>Cena dopravy</h2>
    <hr>
    {{ form_row(form.deliveryCollection) }}
    <h2>Vzhled</h2>
    <hr>
    {{ form_row(form.headerImageFile) }}
    <div class="form-group">
        <div class="form-control form-control-preview offset-bottom-large">
            <img src="{{ form.vars.data.getHeaderImageAbsolutePath }}" class="center-block"/>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}