{% if links | length > 0 %}
    <nav id="social-nav">
        <ul>
            {% for link in links %}
                <li>
                    <a href="{{ link.link }}" target="_blank">
                        <img src="{{ asset('upload/images/links/' ~ link.id ~ '.' ~ link.extension) }}" alt="{{ link.title }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}