{% if pages | length > 0 %}
    <nav id="page-nav">
        <ul id="menu">
            {% for page in pages %}
                <li>
                    <a href="{{ path('front_page', {alias: page.alias}) }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}