<nav id="category-nav">
    <ul>
        {% for productCategory in productCategories %}
            {% if productCategory.products | length > 0 %}
                <li class="category-nav-item">
                    <a href="{{ path('front_homepage_category', {category: productCategory.alias}) }}">{{ productCategory.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="category-nav-item desktop-hide">
            <a href="{{ url }}#menu" class="category-nav-item">Přejít do menu</a>
        </li>
        <li class="category-nav-item desktop-hide">
            <a href="{{ path('front_basket_show') }}" class="category-nav-item">Přejít do košíku</a>
        </li>
    </ul>
</nav>