{% extends "AppBundle:Back:layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12 col-center-block">
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade in">
                    <button class="close" data-dismiss="alert">&times;</button>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {{ error|trans }}
                </div>
            {% endif %}
            <form action="{{ path("back_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label for="username">{{ 'security.login.username'| trans }}</label>
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'| trans}}</label>
                    <input type="password" id="password" class="form-control" name="_password" required="required" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'| trans }}</label>
                </div>
                <div class="form-group">
                    <input type="submit" id="_submit" class="btn btn-primary btn-block" name="_submit" value="{{ 'security.login.submit'|trans  }}" />
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
