<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>

        @page {
            margin: 25px;
        }

        div, p, td {
            font-family: 'opensanslight', sans-serif;
            font-size: 14px;
            color: #232324;
        }

        h1, h2, th, b {
            font-family: 'opensansbold', sans-serif;
            font-size: 14px;
            color: #232324;
        }

        .clear {
            clear: both;
        }

        .header {
            height: 60px;
            line-height: 60px;
            padding: 15px;
            background-color: #232324;
        }

        .logo {
            float: left;
        }

        .invoice {
            float: right;
            margin: 0;
            color: #E9E9E9;
            font-size: 1.5em;
            text-align: right;
        }

        .page-wrapper {
            margin: 25px 0 0 0;
        }


        .from-wrapper {
            width: 50%;
            padding: 25px;
            float: left;
            box-sizing: border-box;
        }

        .from-heading {
            padding: 0 0 10px 0;
            font-size: 1.25em;
            border-bottom: 1px dotted #232324;
        }

        .to-wrapper {
            width: 35%;
            padding: 25px;
            float: right;
            box-sizing: border-box;
        }

        .to-heading {
            padding: 0 0 10px 0;
            font-size: 1.25em;
            border-bottom: 1px dotted #232324;
        }

        .to-heading2 {
            padding: 0 0 10px 0;
            font-size: 1.25em;
            border-bottom: 1px dotted #232324;
            margin: 27px 0 0 0 ;
        }

        .insider {
            padding: 10px 10px 0 10px;
        }

        .lowercase {
            text-transform: lowercase;
        }

        .table {
            width: 100%;
            margin: 25px;
            right: 25px;
            position: relative;
            border-collapse: collapse;
            box-sizing: border-box;
        }

        .table thead th, .table tbody td {
            padding: 5px 10px 5px 10px;
            border: 1px solid black;
        }

        .th-1 {
            width: 40%;
        }

        .th-2, .th-3, .th-4 {
            width: 20%;
        }

        .td-1 {

        }

        .td-2, .td-3, .td-4 {
            text-align: right;
        }

        .tf-1 {
            border: none !important;
        }

        .tf-2 {
            padding: 5px 10px 5px 10px;
            border: 1px solid black;
            font-family: 'opensansbold', sans-serif;
        }

        .tf-3 {
            padding: 5px 10px 5px 10px;
            border: 1px solid black;
            text-align: right;
        }


    </style>
</head>
<body>
<header class="header">
    <img class="logo" src="images/logo.png">
    <h1 class="invoice">Faktura - daňový doklad č. {{ order.getOrderNumber }}</h1>
</header>
<div class="page-wrapper ">
    <div class="to-wrapper">
        <h2 class="from-heading">Odběratel:</h2>
        <p class="insider">
            <b>
                {{ order.getBillingFirstname }} {{ order.getBillingLastname }}<br>
                {{ order.getBillingStreet }}<br>
                {{ order.getBillingZipCode }} {{ order.getBillingCity }}
            </b>
        </p>
        <h2 class="to-heading2">Platba:</h2>
        <p class="insider">
            Variabilní symbol: <b>{{ order.getOrderNumber }}</b>
        </p>
        <p class="insider">
            Datum vystavení: <b>{{ order.orderSentOn | date('d. m. Y') }}</b><br>
            Datum splatnosti:
            <b>
                {% if order.orderPaymentItem.method == 'Dobírka' or order.orderPaymentItem.method == 'Na dobírku' %}
                    při převzetí
                {% elseif order.orderPaymentItem.method == 'Převodem' %}
                    uhrazeno
                {% endif %}
            </b>
        </p>
        <p class="insider">
            Způsob platby: <b class="lowercase">{{ order.orderPaymentItem.method }}</b>
        </p>
    </div>
    <div class="from-wrapper">
        <h2 class="to-heading">Dodavatel:</h2>
        <p class="insider">
            <b>
                {{ invoiceName }}<br>
                {{ invoiceStreet }}<br>
                {{ invoiceZipCode }} {{ invoiceCity }}
            </b>
        </p>
        <p class="insider">
            IČO: {{ invoiceIc }}<br>
            Dodavatel není plátce DPH
        </p>
        <p class="insider">
            {{ invoiceText }}
        </p>
        <p class="insider">
            Telefon: {{ invoicePhone }}<br>
            Email: {{ invoiceEmail }}
        </p>
        <p class="insider">
            Číslo účtu: {{ invoiceBank }}
        </p>
    </div>
    <div class="clear"></div>
    <table class="table">
        <thead>
        <tr>
            <th class="th-1">Položka</th>
            <th class="th-2">Cena za kus</th>
            <th class="th-3">Počet kusů</th>
            <th class="th-4">Celková cena</th>
        </tr>
        </thead>
        <tbody>
        {% for orderItem in order.getOrderItem %}
            <tr>
                <td class="td-1">{{ orderItem.title }}</td>
                <td class="td-2">{{ orderItem.price | number_format(2, ',', '') }} Kč</td>
                <td class="td-3">{{ orderItem.quantity }} ks</td>
                <td class="td-4">{{ orderItem.getTotalPrice | number_format(2, ',', '') }} Kč</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="td-1">Doprava: {{ order.orderDeliveryItem.method }}</td>
            <td class="td-2">{{ (order.orderDeliveryItem.fee) | number_format(2, ',', '') }} Kč</td>
            <td class="td-3">1 ks</td>
            <td class="td-4">{{ (order.orderDeliveryItem.fee) | number_format(2, ',', '') }} Kč</td>
        </tr>
        <tr>
            <td class="td-1">Platba: {{ order.orderPaymentItem.method }}</td>
            <td class="td-2">{{ (order.orderPaymentItem.fee) | number_format(2, ',', '') }} Kč</td>
            <td class="td-3">1 ks</td>
            <td class="td-4">{{ (order.orderPaymentItem.fee) | number_format(2, ',', '') }} Kč</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="tf-1"></td>
            <td class="tf-2" colspan="2">Sleva</td>
            <td class="tf-3">{{ order.getDiscountPriceFromTotal | number_format(2, ',', '') }} Kč</td>
        </tr>
        <tr>
            <td class="tf-1"></td>
            <td class="tf-2" colspan="2">Cena bez slevy</td>
            <td class="tf-3">{{  order.getTotalPriceWithoutDiscount | number_format(2, ',', '') }} Kč</td>
        </tr>
        <tr>
            <td class="tf-1"></td>
            <td class="tf-2" colspan="2">Celková cena</td>
            <td class="tf-3">{{ order.getTotalPrice | number_format(2, ',', '') }} Kč</td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>