{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Objednávky
{% endblock %}

{% block headerAction %}
    <a href="{{ path('back_order_export') }}" class="btn btn-primary cta">
        <span class="glyphicon glyphicon-export"></span>
        Exportovat objednávky
    </a>
{% endblock %}

{% block body %}
    <table class="table article-list" data-pagination="25">
        <thead>
        <tr>
            <th class="table-cell-id sorting-asc" data-toggle="sort" tabindex="1">Číslo</th>
            <th data-toggle="sort" tabindex="2">Jméno a příjmení</th>
            <th data-toggle="sort" tabindex="3">Cena</th>
            <th data-toggle="sort" tabindex="4">Stav</th>
            <th data-toggle="sort" tabindex="5">Zpracováno</th>
            <th data-toggle="sort" tabindex="6">Zpracoval</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td class="table-cell-id">{{ order.getOrderNumber }}</td>
                <td class="table-cell">{{ order.deliveryFirstname ~ ' ' ~ order.deliveryLastname }}</td>
                <td class="table-cell" data-sort-value="{{ zerofill(order.getTotalPrice | number_format(2, '.', ''), 8, 0) }}">{{ order.getTotalPrice | number_format(2, '.', '') }} Kč</td>
                <td class="table-cell">{{ order.status | trans }}</td>
                {% if order.handledOn %}
                    <td class="table-cell">{{ order.handledOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ order.handledBy.fullname | default('-') }}</td>
                <td class="table-cell-actions">
                    <a href="{{ path('back_order_show', {'id' : order.id}) }}" class="item-action" title="Zobrazit objednávku">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    <nav data-pagination-nav="true">
    </nav>
{% endblock %}