{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Zobrazit objednávku
{% endblock %}

{% set narrowBody = true %}

{% block body %}
            {{ form_start(form) }}

            <h2>Dodací údaje</h2>
            <hr>
            {{ form_row(form.deliveryFirstname) }}
            {{ form_row(form.deliveryLastname   ) }}
            {{ form_row(form.deliveryStreet) }}
            {{ form_row(form.deliveryCity) }}
            {{ form_row(form.deliveryZipCode) }}
            {{ form_row(form.deliveryEmail) }}
            {{ form_row(form.deliveryPhone) }}
            {{ form_row(form.remarks) }}

            <h2>Fakturační údaje</h2>
            <hr>
            {{ form_row(form.billingDifferent) }}
            {{ form_row(form.billingFirstname) }}
            {{ form_row(form.billingLastname) }}
            {{ form_row(form.billingStreet) }}
            {{ form_row(form.billingCity) }}
            {{ form_row(form.billingZipCode) }}
            {{ form_row(form.billingEmail) }}
            {{ form_row(form.billingPhone) }}

            <h2>Doprava a platba</h2>
            <hr>
            {{ form_row(form.delivery) }}
            {{ form_row(form.deliveryDetail) }}
            {{ form_row(form.payment) }}

            <h2>Sleva</h2>
            <hr>
            {{ form_row(form.discount) }}

            <h2>Časový přehled</h2>
            <hr/>
            <div class="form-group">
                <label>Vytvořena dne</label>
                <input type="text" class="form-control" disabled="disabled" value="{% if form.vars.data.orderCreatedOn %}{{ form.vars.data.orderCreatedOn | date("Y-m-d H:i") }}{% endif %}">
            </div>
            <div class="form-group">
                <label>Potvrzena dne</label>
                <input type="text" class="form-control" disabled="disabled" value="{% if form.vars.data.orderReceivedOn %}{{ form.vars.data.orderReceivedOn | date("Y-m-d H:i") }}{% endif %}">
            </div>
            <div class="form-group">
                <label>Odeslána dne</label>
                <input type="text" class="form-control" disabled="disabled" value="{% if form.vars.data.orderSentOn %}{{ form.vars.data.orderSentOn | date("Y-m-d H:i") }}{% endif %}">
            </div>
            <div class="form-group">
                <label>Dokončena dne</label>
                <input type="text" class="form-control" disabled="disabled" value="{% if form.vars.data.orderFinishedOn %}{{ form.vars.data.orderFinishedOn | date("Y-m-d H:i") }}{% endif %}">
            </div>
            <div class="form-group">
                <label>Stornována dne</label>
                <input type="text" class="form-control" disabled="disabled" value="{% if form.vars.data.orderCanceledOn %}{{ form.vars.data.orderCanceledOn | date("Y-m-d H:i") }}{% endif %}{% if form.vars.data.emailCanceledOn %} (Stornováno emailem){% endif %}">
            </div>

            <h2>Stav objednávky</h2>
            <hr/>

            {{ form_row(form.active) }}
            {{ form_row(form.status) }}

            {% if form.status.vars.value == 'Created' %}
                <div class="form-group">
                    <a href="{{ path('back_order_change_status', {id: form.vars.data.id, status: 'Received'}) }}" class="btn btn-success btn-block">
                        Přijmout
                    </a>
                </div>
                <div class="form-group">
                    <a href="{{ path('back_order_change_status', {id: form.vars.data.id, status: 'Canceled'}) }}" class="btn btn-danger btn-block">
                        Stornovat
                    </a>
                </div>
            {% elseif form.status.vars.value == 'Received' %}
                <div class="form-group">
                    <a href="{{ path('back_order_change_status', {id: form.vars.data.id, status: 'Sent'}) }}" class="btn btn-success btn-block">
                        Odeslat
                    </a>
                </div>
                <div class="form-group">
                    <a href="{{ path('back_order_change_status', {id: form.vars.data.id, status: 'Canceled'}) }}" class="btn btn-danger btn-block">
                        Stornovat
                    </a>
                </div>
            {% elseif form.status.vars.value == 'Sent' %}
                <div class="form-group">
                    <a href="{{ path('back_order_change_status', {id: form.vars.data.id, status: 'Finished'}) }}" class="btn btn-success btn-block">
                        Dokončit
                    </a>
                </div>
                <div class="form-group">
                    <a href="{{ path('back_order_change_status', {id: form.vars.data.id, status: 'Canceled'}) }}" class="btn btn-danger btn-block">
                        Stornovat
                    </a>
                </div>
                <div class="form-group">
                    <a href="{{ path('back_order_invoice', {orderNumber: form.vars.data.getOrderNumber}) }}" class="btn btn-primary btn-block">
                        Zobrazit fakturu
                    </a>
                </div>
            {% elseif form.status.vars.value == 'Finished' %}
                <div class="form-group">
                    <a href="{{ path('back_order_change_status', {id: form.vars.data.id, status: 'Canceled'}) }}" class="btn btn-danger btn-block">
                        Stornovat
                    </a>
                </div>
                <div class="form-group">
                    <a href="{{ path('back_order_invoice', {orderNumber: form.vars.data.getOrderNumber}) }}" class="btn btn-primary btn-block">
                        Zobrazit fakturu
                    </a>
                </div>
            {% elseif form.status.vars.value == 'Canceled' %}
            {% endif %}

            {{ form_row(form.add) }}
            {{ form_end(form) }}

        </div>
    </div>

    <div class="offset-bottom-larger"></div>

    <h2>Položky objednávky {{ form.vars.data.getOrderNumber }}</h2>
    <hr>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th data-toggle="sort" tabindex="2">Produkt</th>
                <th data-toggle="sort" tabindex="2">Cena za kus</th>
                <th data-toggle="sort" tabindex="2">Počet kusů</th>
                <th data-toggle="sort" tabindex="2">Sleva</th>
                <th data-toggle="sort" tabindex="2">Cena celkem</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for orderItem in orderItems %}
                    <tr>
                        {% if orderItem.product != null %}
                            <td><a href="{{ path('back_product_edit', {id: orderItem.product.id}) }}">{{ orderItem.title }}</a></td>
                        {% else %}
                            <td>{{ orderItem.title }}</td>
                        {% endif %}
                        <td>{{ orderItem.price | number_format(2, '.', '') }} Kč</td>
                        <td>{{ orderItem.quantity }} ks</td>
                        <td>{{ orderItem.discount }} %</td>
                        <td>{{ orderItem.totalPrice | number_format(2, '.', '') }} Kč</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Doprava: {{ form.vars.data.orderDeliveryItem.method }}</td>
                    <td>{{ form.vars.data.orderDeliveryItem.fee| number_format(2, '.', '') }} Kč</td>
                    <td>1 ks</td>
                    <td>0 %</td>
                    <td>{{ form.vars.data.orderDeliveryItem.fee | number_format(2, '.', '') }} Kč</td>
                </tr>
                <tr>
                    <td>Platba: {{ form.vars.data.orderPaymentItem.method }}</td>
                    <td>{{ form.vars.data.orderPaymentItem.fee | number_format(2, '.', '') }} Kč</td>
                    <td>1 ks</td>
                    <td>0 %</td>
                    <td>{{ form.vars.data.orderPaymentItem.fee | number_format(2, '.', '') }} Kč</td>
                </tr>
            </tbody>
            <tfoot class="tfoot-separated">
                <tr>
                    <th colspan="3"></th>
                    <th>Sleva:</th>
                    <th>{{ form.vars.data.orderDiscountItem.discount | default(0) }} %</th>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th>Cena bez slevy:</th>
                    <th>{{ form.vars.data.getTotalPriceWithoutDiscount | number_format(2, '.', '') }} Kč</th>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th>Cena celkem:</th>
                    <th>{{ form.vars.data.getTotalPrice | number_format(2, '.', '') }} Kč</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-9 col-sm-11 col-xs-12 col-center-block">

{% endblock %}