<div class="promo promo-newsletter">
    {% if form.email.vars.errors | length > 0 %}
        <div class="container">
            {{ form.email.vars.errors[0].message }}
        </div>
    {% endif %}
    <div class="container">
        Nezmeškejte zajímavé slevy a přihlaste se k odběru newsletteru
        <form id="inline-form" method="post">
            <input type="email" id="input-text" placeholder="@" name="{{ form.children.email.vars.full_name }}"/>
            <input type="submit" id="input-button" value="přihlásit" name="{{ form.children.save.vars.full_name }}"/>
            {{ form_widget(form._token) }}
        </form>
    </div>
</div>