<div class="promo promo-newsletter">
    <div class="container">
        Váš email byl úspěšně zařazen k odběru newsletterů.
        <script>
            location.replace('{{ url('front_newsletter_finish_ext') }}');
        </script>
    </div>
</div>