{% extends 'AppBundle:Front:layout.html.twig' %}

{% block title %}Přihlášení newsletteru{% endblock %}

{% block headerImage %}
{% endblock %}

{% block body %}
    <div class="container">
        <article class="category basket">
            <h1>Odběr newsletterů</h1>
            <p>Váš email byl úspěšně zařazen k odběru newsletterů.</p>
        </article>
    </div>
{% endblock %}