{% extends 'AppBundle:Front:layout.html.twig' %}

{% block title %}Odhlášení newsletteru{% endblock %}

{% block headerImage %}
{% endblock %}

{% block body %}
    <div class="container">
        <article class="category basket">
            <h1>Odhlášení odběru newsletteru</h1>
            <p>Odhlášení odběru newsletteru se nezdařilo. Email nebyl nalezen.</p>
        </article>
    </div>
{% endblock %}