<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Administrace - Online shop</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=latin,latin-ext" />
        <link rel="stylesheet" href="{{ asset('css/back.min.css') }}" />
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
        <base href="{{ base_url }}">
    </head>
    <body class="has-footer-sticky">

        <header role="banner" id="top">
            <nav class="navbar navbar-static-top navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kssMenu">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{ path('back_dashboard') }}" class="navbar-brand" title="Administrace">E-shop</a>
                    </div>
                    {% set route = app.request.attributes.get('_route') %}
                    <div class="collapse navbar-collapse" id="kssMenu">
                        <ul class="nav navbar-nav">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown{{ getActiveMenuItem(route, 'back_global') }}">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Globální
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <li>
                                                <a href="{{ path('back_global') }}">
                                                    Globální nastavení
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{{ path('back_global_file_upload') }}">
                                                Nahrávání souborů
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('back_newsletter_export') }}">
                                                Export newsletteru
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li{{ getActiveMenuItem(route, 'back_user_', true) }}>
                                    <a href="{{ path('back_user_list') }}">Uživatelé</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown{{ getActiveMenuItem(route, 'back_page_') }}{{  getActiveMenuItem(route, 'back_article_') }}{{ getActiveMenuItem(route, 'back_text_') }}{{ getActiveMenuItem(route, 'back_link_') }}{{ getActiveMenuItem(route, 'back_sorting_') }}">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Stránky
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('back_page_list') }}">
                                                Stránky
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{{ path('back_article_list') }}">
                                                Články
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('back_text_list') }}">
                                                Texty
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('back_sorting_list') }}">
                                                Řazení
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{{ path('back_link_list') }}">
                                                Odkazy
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown{{ getActiveMenuItem(route, 'back_product_') }}{{ getActiveMenuItem(route, 'back_product_category_') }}{{ getActiveMenuItem(route, 'back_discount_') }}">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Produkty
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('back_product_list') }}">
                                                Produkty
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('back_product_category_list') }}">
                                                Kategorie produktů
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{{ path('back_discount_list') }}">
                                                Slevové kódy
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li{{ getActiveMenuItem(route, 'back_order_', true) }}>
                                    <a href="{{ path('back_order_list') }}">
                                        Objednávky
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navbar-icon">
                                <a href="{{ path('front_homepage') }}" title="Úvodní stránka">
                                    <span class="glyphicon glyphicon-home"></span>
                                    <span class="visible-xs">Úvodní stránka</span>
                                </a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Můj účet">
                                        <span class="glyphicon glyphicon-user icon-offset" aria-hidden="true"></span>
                                        <span class="visible-xs">Můj účet</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">{{ app.user.fullname }}</li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{{ path('back_user_account') }}">
                                                <span class="glyphicon glyphicon-user icon-offset icon-vertically-aligned" aria-hidden="true"></span>
                                                Můj účet
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('back_security_logout') }}">
                                                <span class="glyphicon glyphicon-off icon-offset icon-vertically-aligned" aria-hidden="true"></span>
                                                Odhlásit se
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Můj účet">
                                        <span class="glyphicon glyphicon-user icon-offset" aria-hidden="true"></span>
                                        <span class="visible-xs">Můj účet</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Nepřihlášen</li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{{ path('back_security_login') }}">
                                                <span class="glyphicon glyphicon-log-in icon-offset icon-vertically-aligned" aria-hidden="true"></span>
                                                Přihlásit se
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <section class="section section-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="section-header-title">{% block headerTitle %}Administrace{% endblock %}</h1>
                        </div>
                        <div class="col-sm-4">
                            {% block headerAction %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>

            <div class="section section-content">
                <div class="container">

                {% if narrowBody is defined %}
                    <div class="row">
                        <div class="col-lg-7 col-md-9 col-sm-11 col-xs-12 col-center-block">
                {% endif %}

                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="alert alert-info success-dismissible fade in" role="alert">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <span class="sr-only">Error:</span>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible fade in">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <span class="glyphicon glyphicon-ok-sign"></span>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible fade in">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <span class="glyphicon glyphicon-info-sign"></span>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}
                {% endblock %}

                {% if narrowBody is defined %}
                        </div>
                    </div>
                {% endif %}

                </div>
            </div>
        </main>

        <footer role="contentinfo" class="footer footer-sticky">
            <div class="container">
                © E-shop, 2016
            </div>
        </footer>

        {% block scripts %}
            <script src="{{ asset('js/back.min.js') }}"></script>
            <script src="{{ asset('vendor/ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset('vendor/ckeditor/adapters/jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
