<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Ukázkový systému e-shopu{% endblock %} – Online shop</title>
    <link rel="stylesheet" href="{{ asset('css/front.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/fancybox/jquery.fancybox.css') }}" />
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
    <base href="{{ base_url }}">
    {% block headGA %}
    {% endblock %}
</head>
<body class="has-footer-sticky">
    <div class="container">
        {% block header %}
            <header id="header">
                <div id="basket" class="mobile-hide">
                    {% if app.request.attributes.get('_route') != null %}
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}#menu">
                    {% else %}
                        <a href="#menu">
                    {% endif %}
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                        <span id="to-menu">Menu</span>
                    </a>
                    <a href="{{ path('front_basket_show') }}">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span id="basket-products-count"></span>
                    </a>
                </div>
                <div id="logo">
                    <h1>
                        <a href="{{ path('front_homepage') }}">
                            Online shop
                        </a>
                    </h1>
                </div>
            </header>
            {{ render(controller('AppBundle:Front\\Layout:productCategoriesNav')) }}
        {% endblock %}
    </div>
    {% block headerImage %}
        <div id="header-image" class="mobile-hide">
            <img src="{{ asset('upload/images/header/header.jpg') }}" alt="Header Image" />
        </div>
    {% endblock %}
    <section class="main">
        {% block body %}
        {% endblock %}
    </section>
    <hr class="footer-line"/>
    <footer id="footer" class="footer-sticky">
        <div id="panel">
            {{ render(controller('AppBundle:Front\\Layout:pagesNav')) }}
            {{ render(controller('AppBundle:Front\\Layout:linksNav')) }}
        </div>
        <div id="copyright-footer">
            <p>Copyright © Bedřich Schindler, 2016</p>
        </div>
    </footer>
    <div class="cookies-bar" id="cookies-element">
        <p>K poskytování služeb na tomto webu využíváme cookies. Používáním tohoto webu dáváte souhlas s ukládáním cookies.
            <a class="cookies-btn" id="cookies-button">souhlasím</a>
            <a class="cookies-info" href="{{ path('front_page', {alias: 'soubory-cookie'}) }}">více&nbsp;informací</a>
        </p>
    </div>

    {% block scripts %}
    <script src="{{ asset('js/front.min.js') }}"></script>
{% endblock %}
{% block bodyGA %}
{% endblock %}
</body>
</html>
