{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Přidat text
{% endblock %}

{% set narrowBody = true %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    <div class="form-group">
        {{ form_label(form.isText) }}
        {{ form_widget(form.isText, {attr: {'data-hiding-element': form.children.isText.vars.id}}) }}
        {{ form_errors(form.isText) }}
    </div>
    <div class="form-group" data-hiding-true="{{ form.children.isText.vars.id }}">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>
    <div class="form-group" data-hiding-false="{{ form.children.isText.vars.id }}">
        {{ form_label(form.link) }}
        {{ form_widget(form.link) }}
        {{ form_errors(form.link) }}

    </div>
    <div class="form-group" data-hiding-false="{{ form.children.isText.vars.id }}">
        {{ form_label(form.file) }}
        {{ form_widget(form.file) }}
        {{ form_errors(form.file) }}
    </div>
    {{ form_end(form) }}
{% endblock %}