{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Texty
{% endblock %}

{% block headerAction %}
    <a href="{{ path('back_text_add') }}" class="btn btn-primary cta">
        <span class="glyphicon glyphicon-pencil"></span>
        Přidat text
    </a>
{% endblock %}

{% block body %}
    <table class="table text-list" data-pagination="25">
        <thead>
        <tr>
            <th class="table-cell-id sorting-asc" data-toggle="sort" tabindex="1">ID</th>
            <th data-toggle="sort" tabindex="2">Název</th>
            <th data-toggle="sort" tabindex="3">Napsáno dne</th>
            <th data-toggle="sort" tabindex="4">Napsal</th>
            <th data-toggle="sort" tabindex="5">Upraveno dne</th>
            <th data-toggle="sort" tabindex="6">Upravil</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for text in texts %}
            <tr>
                <td class="table-cell-id">{{ text.id }}</td>
                <td class="table-cell" >{{ text.title }}</td>
                {% if text.writtenOn %}
                    <td class="table-cell">{{ text.writtenOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ text.writtenBy.fullname | default('-') }}</td>
                {% if text.editedOn %}
                    <td class="table-cell">{{ text.editedOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ text.editedBy.fullname | default('-') }}</td>
                <td class="table-cell-actions">
                    <a href="{{ path('back_text_edit', {'id' : text.id}) }}" class="item-action" title="Upravit text">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('back_text_remove', {'id' : text.id}) }}" data-toggle="confirm" data-confirm-message="Opravdu chcete odstranit text?" class="item-action item-action-danger" title="Odstranit text">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
{% endblock %}