{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Přidat kategorii produktů
{% endblock %}

{% set narrowBody = true %}

{% block body %}
    {{ form(form) }}
{% endblock %}