{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Kategorie produktů
{% endblock %}

{% block headerAction %}
    <a href="{{ path('back_product_category_add') }}" class="btn btn-primary cta">
        <span class="glyphicon glyphicon-pencil"></span>
        Přidat kategorii produktů
    </a>
{% endblock %}

{% block body %}
    <table class="table product-category-list" data-pagination="25">
        <thead>
        <tr>
            <th class="table-cell-id sorting-asc" data-toggle="sort" tabindex="1">ID</th>
            <th data-toggle="sort" tabindex="2">Název</th>
            <th data-toggle="sort" tabindex="3">Vytvořeno dne</th>
            <th data-toggle="sort" tabindex="4">Vytvořil</th>
            <th data-toggle="sort" tabindex="5">Upraveno dne</th>
            <th data-toggle="sort" tabindex="6">Upravil</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for productCategory in productCategories %}
            <tr>
                <td class="table-cell-id">{{ productCategory.id }}</td>
                <td class="table-cell" >{{ productCategory.title }}</td>
                {% if productCategory.writtenOn %}
                    <td class="table-cell">{{ productCategory.writtenOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ productCategory.writtenBy.fullname | default('-') }}</td>
                {% if productCategory.editedOn %}
                    <td class="table-cell">{{ productCategory.editedOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ productCategory.editedBy.fullname | default('-') }}</td>
                <td class="table-cell-actions">
                    <a href="{{ path('back_product_category_edit', {'id' : productCategory.id}) }}" class="item-action" title="Upravit kategorii produktů">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('back_product_category_remove', {'id' : productCategory.id}) }}" data-toggle="confirm" data-confirm-message="Opravdu chcete odstranit kategorii produktů?" class="item-action item-action-danger" title="Odstranit kategorii produktů">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    <nav data-pagination-nav="true">
    </nav>
{% endblock %}