{% extends 'AppBundle:Front:layout.html.twig' %}

{% block title %}Stornování objednávky{% endblock %}

{% block headerImage %}
{% endblock %}

{% block body %}
    <article class="category basket">
        <h1>Stornování objednávky</h1>
        {% if order == null %}
            <p>Zadaná objednávka neexistuje.</p>
        {% else %}
            {% if wasActive == false %}
                <p class="offset-bottom-large">Objednávku již není možné stornovat.</p>
            {% endif %}
            <p>Číslo objednávky: {{ order.getOrderNumber }}</p>
            <p>Stav objednávky: {{ order.status | trans() }}</p>
        {% endif %}
    </article>
{% endblock %}