{% extends 'AppBundle:Front:layout.html.twig' %}

{% block title %}Stav objednávky{% endblock %}

{% block headerImage %}
{% endblock %}

{% block body %}
    <article class="category basket">
        <h1>Stav objednávky</h1>
        {% if order == null %}
            <p>Zadaná objednávka neexistuje.</p>
        {% else %}
            <p>Číslo objednávky: {{ order.getOrderNumber }}</p>
            <p>Stav objednávky: {{ order.status | trans() }}</p>
        {% endif %}
    </article>
{% endblock %}