{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Stránky
{% endblock %}

{% block headerAction %}
    <a href="{{ path('back_page_add') }}" class="btn btn-primary cta">
        <span class="glyphicon glyphicon-pencil"></span>
        Přidat stránku
    </a>
{% endblock %}

{% block body %}
    <table class="table page-list" data-pagination="25">
        <thead>
        <tr>
            <th class="table-cell-id sorting-asc" data-toggle="sort" tabindex="1">ID</th>
            <th data-toggle="sort" tabindex="2">Název</th>
            <th data-toggle="sort" tabindex="3">Napsáno dne</th>
            <th data-toggle="sort" tabindex="4">Napsal</th>
            <th data-toggle="sort" tabindex="5">Upraveno dne</th>
            <th data-toggle="sort" tabindex="6">Upravil</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td class="table-cell-id">{{ page.id }}</td>
                <td class="table-cell" >{{ page.title }}</td>
                {% if page.writtenOn %}
                    <td class="table-cell">{{ page.writtenOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ page.writtenBy.fullname | default('-') }}</td>
                {% if page.editedOn %}
                    <td class="table-cell">{{ page.editedOn | date("Y-m-d H:i") }}</td>
                {% else %}
                    <td class="table-cell">-</td>
                {% endif %}
                <td class="table-cell">{{ page.editedBy.fullname | default('-') }}</td>
                <td class="table-cell-actions">
                    <a href="{{ path('back_page_edit', {'id' : page.id}) }}" class="item-action" title="Upravit stránku">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('back_page_remove', {'id' : page.id}) }}" data-toggle="confirm" data-confirm-message="Opravdu chcete odstranit stránku?" class="item-action item-action-danger" title="Odstranit stránku">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    <nav data-pagination-nav="true">
    </nav>
{% endblock %}