{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Upravit produkt
{% endblock %}

{% set narrowBody = true %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.alias) }}
    {{ form_row(form.category) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.quantity) }}
    {{ form_row(form.discount) }}
    {{ form_row(form.count) }}
    {{ form_row(form.countText) }}
    {{ form_row(form.file) }}
    <div class="form-group">
        <div class="form-control form-control-preview">
            <img src="{{ form.vars.data.getWebPath }}" class="center-block"/>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}