{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Produkty
{% endblock %}

{% block headerAction %}
    <a href="{{ path('back_product_add') }}" class="btn btn-primary cta">
        <span class="glyphicon glyphicon-pencil"></span>
        Přidat produkt
    </a>
{% endblock %}

{% block body %}
    <table class="table product-list" data-pagination="25">
        <thead>
        <tr>
            <th class="table-cell-id sorting-asc" data-toggle="sort" tabindex="1">ID</th>
            <th data-toggle="sort" tabindex="2">Název</th>
            <th data-toggle="sort" tabindex="3">Kategorie</th>
            <th data-toggle="sort" tabindex="4">Cena</th>
            <th data-toggle="sort" tabindex="5">Množství</th>
            <th data-toggle="sort" tabindex="6">Sleva</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td class="table-cell-id">{{ product.id }}</td>
                <td class="table-cell">{{ product.title }}</td>
                <td class="table-cell">{{ product.category.title | default('-') }}</td>
                <td class="table-cell" data-sort-value="{{ zerofill(product.price, 8, 0) }}">{{ product.price }} Kč</td>
                <td class="table-cell" data-sort-value="{{ zerofill(product.quantity, 8, 0) }}">{{ product.quantity }} ks</td>
                <td class="table-cell" data-sort-value="{{ zerofill(product.discount, 8, 0) }}">{{ product.discount }} %</td>
                <td class="table-cell-actions">
                    {% if product.favourite %}
                        <a href="{{ path('back_product_unmark_favourite', {'id' : product.id}) }}" class="item-action" title="Odznačit produkt jako oblíbený">
                            <span class="glyphicon glyphicon-star"></span>
                        </a>
                    {% else %}
                        <a href="{{ path('back_product_mark_favourite', {'id' : product.id}) }}" class="item-action" title="Označit produkt jako oblíbený">
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </a>
                    {% endif %}
                    <a href="{{ path('back_product_edit', {'id' : product.id}) }}" class="item-action" title="Upravit produkt">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('back_product_remove', {'id' : product.id}) }}" data-toggle="confirm" data-confirm-message="Opravdu chcete odstranit produkt?" class="item-action item-action-danger" title="Odstranit produkt">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    <nav data-pagination-nav="true">
    </nav>
{% endblock %}