{% extends 'AppBundle:Back:layout.html.twig' %}

{% block headerTitle %}
    Uživatelé
{% endblock %}

{% block headerAction %}
    <a href="{{ path('back_user_add') }}" class="btn btn-primary cta">
        <span class="glyphicon glyphicon-pencil"></span>
        Přidat uživatele
    </a>
{% endblock %}

{% block body %}
    <table class="table user-list" data-pagination="25">
        <thead>
        <tr>
            <th class="table-cell-id sorting-asc" data-toggle="sort" tabindex="0"> Id</th>
            <th data-toggle="sort" tabindex="1">Jméno</th>
            <th data-toggle="sort" tabindex="2">Příjmení</th>
            <th data-toggle="sort" tabindex="3">Uživatelské jméno</th>
            <th data-toggle="sort" tabindex="4">Email</th>
            <th data-toggle="sort" tabindex="5">Skupina</th>
            <th data-toggle="sort" tabindex="6">Stav účtu</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="table-cell-id">{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.groups[0].name }}</td>
                {% if user.enabled %}
                    <td>Povolen</td>
                {% else %}
                    <td>Zakázán</td>
                {% endif %}
                <td class="table-cell-actions">
                    <a href="{{ path('back_user_edit', {id : user.id}) }}" class="item-action" title="Upravit uživatele">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('back_user_remove', {id : user.id}) }}" data-toggle="confirm" data-confirm-message="Opravdu chcete odstranit uživatele?" class="item-action item-action-danger" title="Odstranit uživatele">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav data-pagination-nav="true">
    </nav>
{% endblock %}